.dodajme {
    background-Color: #1A6A69;
    border: none;
    z-index: 1000;
    position: relative;
    color: white;
    text-decoration: none;
}

.dodajme:hover {
    background-color: #F4A259;
    color: black;

}


.accordion:hover .dodajme {
    background-color: #F4A259;
    color: black;
}

.accordion-button {
    margin: 0;
    max-height: 50%;
}

.accordion-button:hover {
    border-radius: 0.5rem;
    background-Color: #1A6A69;
    color: white;
}


.accordion-button:not(.collapsed) {
    background-color: white;
    color: black;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.dropdown {
    margin: 10px;
}

.btn-primary, .btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1A6A69;
    --bs-btn-border-color: #1A6A69;
    --bs-btn-hover-color: #fffff;
    --bs-btn-hover-bg: #F4A259;
    --bs-btn-hover-border-color: #F4A259;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: #fffff;
    --bs-btn-active-bg: #F4A259;
    --bs-btn-active-border-color: #F4A259;
    text-decoration: none;
}

.col {

    text-align: center;
}

.showMorePosition {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 200px;

}
