h1 {
    font-size: 48px;
}
h2{
    font-size: 40px;
    font-style: bold;
}

h3{
    font-size: 28px;
    font-style: bold;
    margin-bottom: 40px;
}
p {
    font-size: 20px;
}

ul li a {
    color: #fff;
  }