h1 {
    font-size: 48px!important;
}
h2{
    font-size: 40px!important;
    font-style: bold!important;
}

h3{
    font-size: 28px!important;
    font-style: bold!important;
    margin-bottom: 40px!important;
}
h4{
    font-size: 16px!important;
}

p {
    font-size: 14px!important;
}

ul li a {
    color: #fff!important;
  }

.unothorizedAccess{
    font-size: 30px!important;
    margin-top: 10em!important;
    margin-bottom: 9em!important;
    color: grey!important;
}
