.profile-card-body {
    padding: 0px;
    background-color: #1A6A69 !important;
    color: white !important;;
}

.button-profile {
    background-color: #F4A259 !important;
    color: black !important;
    align-items: start;
}

.button-profile:hover {
    background-color: #CE894B !important;
    color: black !important;
}

.inputTextProfile {
    color: white !important;
}

.profileLobbyNameDiv {
    width: 100%;
    height: 100%;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
