
.lobby-creation-guide {
    list-style-type: none;
    counter-reset: list-counter;
    padding-left: 0;
}

.lobby-creation-guide li {
    position: relative;
    padding-left: 3em;
    min-height: 3em;
    display: flex;
    align-items: center;
}

.lobby-creation-guide li span {
    position: absolute;
    top: 10%;
    left: 0;
    padding: 0.4em 0.6em;
    background-color: #F4A259;
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.input-naziv{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 3px solid #1A6A69;
    padding-left: 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 25px;
}

.reserved{
    background-color: #791919!important;
    pointer-events: none;
    opacity:  1;
}

