.Navbar {
  background-color: cyan;
}

.Navbar-brand img {
  margin-right: 10px;
}

.Nav-link {
  color: white;
  margin-right: 10px;
}

.Nav-link:hover,
.Nav-link.active {
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

.Nav-link:hover {
  transition: background-color 0.2s ease-in-out;
}

.Nav-link.active {
  transition: background-color 0.2s ease-in-out;
}